/* BLOCCO PERCHE */
#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
  margin-top: 80px;
}

/* COMMON */
.container {
  padding: 20px 30px;
}

.grey .container {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

#lezioni,
#steps,
#why {
  text-align: center;
}

/* RESPONSIVE */

/* MOBILE XS */
@media all and (max-width:767px) {
  
  #lezioni .container,
  #why .container {
    background-color: #F2F2CD;
  }

  img {
    height: 100px;
    margin-top: 20px;
  }

  hr {
    margin-top: 15px;
  }
}

/* TABLET MD */
@media all and (min-width: 768px) and (max-width: 991px) {

  .container [class*="col-"] {
    padding: 20px;
  }

  #lezioni .container,
  #why .container {
    background-color: #F231CD;
  }

  img {
    height: 150px;
    margin-top: 25px;
  }

  hr {
    margin-top: 20px;
  }
}